<button class="btn btn-primary p-5 rounded-circle btn-lg" id="startBtn" hidden onclick="startLesson()">
    START
</button>

<div id="dropdownSelector">
    <form method="post">
        <p>Welcome! Select your language</p>
        <select name="languages" id="languages" required onchange="checkValue()">
            <option value="blank">---</option>
            <option value="eng">English</option>
            <option value="pol">Polish</option>
            <option value="ukr">Ukrainian</option>
        </select>  
    
        <p>Welcome! Select language you want to learn</p>
        <select name="languages" id="languages" required onchange="checkValue()">
            <option value="blank">---</option>
            <option value="eng">English</option>
            <option value="pol">Polish</option>
            <option value="ukr">Ukrainian</option>
        </select>
    </form> 
</div>
