{% extends 'base.html' %}

{% block content %}
<div class="position-absolute top-50 start-50 translate-middle text-center">
    <h1>LanguAI Tutor</h1>
    <button class="btn btn-primary p-5 rounded-circle btn-lg" id="startBtn" disabled onclick="startLesson()">Start</button>
    <div id="dropdownSelector">
        <p>Select your language:</p>
        <select name="languages" id="languages" required onchange="checkValue()">
            <option value="blank">---</option>
            <option value="eng">English</option>
            <option value="pol">Polish</option>
            <option value="ukr">Ukrainian</option>
        </select>   
    </div>   
</div>
{% endblock %}
